<div>
  <h2 id="page-heading" data-cy="OrderProductsHeading">
    <span jhiTranslate="storeApp.orderProducts.home.title">Order Products</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="storeApp.orderProducts.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-order-products"
        [routerLink]="['/order-products/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="storeApp.orderProducts.home.createLabel"> Create a new Order Products </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'storeApp.orderProducts.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="orderProducts?.length === 0">
    <span jhiTranslate="storeApp.orderProducts.home.notFound">No orderProducts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="orderProducts && orderProducts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="storeApp.orderProducts.idOrderProducts">Id Order Products</span></th>
          <th scope="col"><span jhiTranslate="storeApp.orderProducts.idOrder">Id Order</span></th>
          <th scope="col"><span jhiTranslate="storeApp.orderProducts.idProduct">Id Product</span></th>
          <th scope="col"><span jhiTranslate="storeApp.orderProducts.orders">Orders</span></th>
          <th scope="col"><span jhiTranslate="storeApp.orderProducts.products">Products</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderProducts of orderProducts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/order-products', orderProducts.id, 'view']">{{ orderProducts.id }}</a>
          </td>
          <td>{{ orderProducts.idOrderProducts }}</td>
          <td>{{ orderProducts.idOrder }}</td>
          <td>{{ orderProducts.idProduct }}</td>
          <td>
            <span *ngFor="let orders of orderProducts.orders; let last = last">
              <a class="form-control-static" [routerLink]="['/orders', orders.id, 'view']">{{ orders.idOrderProducts }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <span *ngFor="let products of orderProducts.products; let last = last">
              <a class="form-control-static" [routerLink]="['/products', products.id, 'view']">{{ products.idProducts }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/order-products', orderProducts.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/order-products', orderProducts.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(orderProducts)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
