<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="orders">
      <h2 data-cy="ordersDetailsHeading"><span jhiTranslate="storeApp.orders.detail.title">Orders</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ orders.id }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.orders.idOrder">Id Order</span></dt>
        <dd>
          <span>{{ orders.idOrder }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.orders.idOrderProducts">Id Order Products</span></dt>
        <dd>
          <span>{{ orders.idOrderProducts }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.orders.total">Total</span></dt>
        <dd>
          <span>{{ orders.total }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.orders.idOrders">Id Orders</span></dt>
        <dd>
          <div *ngIf="orders.idOrders">
            <a [routerLink]="['/users', orders.idOrders?.id, 'view']">{{ orders.idOrders?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/orders', orders.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
