<div>
  <h2 id="page-heading" data-cy="WishlistHeading">
    <span jhiTranslate="storeApp.wishlist.home.title">Wishlists</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="storeApp.wishlist.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-wishlist"
        [routerLink]="['/wishlist/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="storeApp.wishlist.home.createLabel"> Create a new Wishlist </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'storeApp.wishlist.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="wishlists?.length === 0">
    <span jhiTranslate="storeApp.wishlist.home.notFound">No wishlists found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="wishlists && wishlists.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="storeApp.wishlist.idWishlist">Id Wishlist</span></th>
          <th scope="col"><span jhiTranslate="storeApp.wishlist.idUser">Id User</span></th>
          <th scope="col"><span jhiTranslate="storeApp.wishlist.idProducts">Id Products</span></th>
          <th scope="col"><span jhiTranslate="storeApp.wishlist.idWishlist">Id Wishlist</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wishlist of wishlists; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/wishlist', wishlist.id, 'view']">{{ wishlist.id }}</a>
          </td>
          <td>{{ wishlist.idWishlist }}</td>
          <td>{{ wishlist.idUser }}</td>
          <td>{{ wishlist.idProducts }}</td>
          <td>
            <div *ngIf="wishlist.idWishlist">
              <a [routerLink]="['/users', wishlist.idWishlist?.id, 'view']">{{ wishlist.idWishlist?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/wishlist', wishlist.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/wishlist', wishlist.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(wishlist)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
