<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-order-products-heading"
        data-cy="OrderProductsCreateUpdateHeading"
        jhiTranslate="storeApp.orderProducts.home.createOrEditLabel"
      >
        Create or edit a Order Products
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="storeApp.orderProducts.idOrderProducts" for="field_idOrderProducts"
            >Id Order Products</label
          >
          <input
            type="number"
            class="form-control"
            name="idOrderProducts"
            id="field_idOrderProducts"
            data-cy="idOrderProducts"
            formControlName="idOrderProducts"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="storeApp.orderProducts.idOrder" for="field_idOrder">Id Order</label>
          <input type="number" class="form-control" name="idOrder" id="field_idOrder" data-cy="idOrder" formControlName="idOrder" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="storeApp.orderProducts.idProduct" for="field_idProduct">Id Product</label>
          <input type="number" class="form-control" name="idProduct" id="field_idProduct" data-cy="idProduct" formControlName="idProduct" />
        </div>

        <div class="form-group">
          <label jhiTranslate="storeApp.orderProducts.orders" for="field_orders">Orders</label>
          <select class="form-control" id="field_orders" data-cy="orders" multiple name="orders" formControlName="orders">
            <option
              [ngValue]="getSelectedOrders(ordersOption, editForm.get('orders')!.value)"
              *ngFor="let ordersOption of ordersSharedCollection; trackBy: trackOrdersById"
            >
              {{ ordersOption.idOrderProducts }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="storeApp.orderProducts.products" for="field_products">Products</label>
          <select class="form-control" id="field_products" data-cy="products" multiple name="products" formControlName="products">
            <option
              [ngValue]="getSelectedProducts(productsOption, editForm.get('products')!.value)"
              *ngFor="let productsOption of productsSharedCollection; trackBy: trackProductsById"
            >
              {{ productsOption.idProducts }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
